<!DOCTYPE html>
<html>
	<head>
		<title>TODO 1.0</title>
		<!--script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script-->
		<script src="js/firebase-simple-login.js"></script>
		<script src="js/setup.js"></script>
		<script src="js/firebase.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body ng-app="todoApp" ng-controller="mainCtrl as ctrl" ng-csp>
		<button ng-if="ctrl.user" style="position:fixed; top:30px; right:20px;" ng-click="ctrl.logout()">Logga ut</button>
		<div ng-if="!ctrl.user" class="login">
			<input type="text" ng-model="ctrl.username" placeholder="Username"><br/>
			<input type="password" ng-model="ctrl.password"><br/>
			<button ng-click="ctrl.login()">Logga in</button>
		</div>
		
		<div ng-if="ctrl.user">
			<ul>
				<li ng-repeat="(parentId, parent) in ctrl.user.refs.parentsRef"><a href="javascript:void(0);" ng-click="ctrl.getListForParent( parentId )">{{ parent.description }}</a></li>
			</ul>
			<input type="text" ng-keypress="ctrl.addItem( 0, $event )" placeholder="New List" >

			<input type="text" ng-keypress="ctrl.addItem( ctrl.currentParent, $event )" placeholder="New item" >
			<!--ul>
				<li ng-repeat="node in ctrl.allNodes"> {{ node.data.description }} </li>
			</ul-->
			<div class="main">
				<ul>
					<li ng-repeat="node in ctrl.allNodes | orderBy: 'data.weight'" ng-include=" 'tree.html?sick=5' "></li>
				</ul>
			</div>
		</div>

		<script src="js/jquery.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angularfire.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>